/* Shop Collection Container */
.shop-collection {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.shop-collection h2 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000;
}

/* Grid Layout */
.collection-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.collection-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.collection-text {
  flex: 1; 
  padding: 10px;
  align-items: flex-end;
}
.small{
  gap: 20px;
}

.small img{
  flex: 1;
}

.small-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end; 
  justify-content: space-between;
  background-color: #a7a7a769;
  height: 100%; 
  gap: 20px;
}

.collection-item img {
  flex: 1; /* Allow image to take up equal space */
  max-width: 100%; 
  height: auto; 
}

.collection-item.large img {
  height: 100%; /* Fill available space */
}

.collection-text h3 {
  margin: 0 0 5px 0;
  font-size: 1.5rem;
  color: #000;
}

.collection-text a {
  font-size: 1rem;
  text-decoration: none;
  color: #555;
  transition: color 0.3s ease;
}

.collection-text a:hover {
  color: #000;
}


/* Responsiveness */
@media (max-width: 768px) {
  .collection-grid {
    grid-template-columns: 1fr;
  }

  .collection-item.large img {
    height: auto;
  }
}
