/* Container for the cart indicator */
.cart-indicator {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color:#E1AFD1; 
    cursor: pointer; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }

  
  /* Hover effect for cart-indicator */
  .cart-indicator:hover {
    transform: scale(1.05);
    color: #e35a97;
    background-color: #d3acc7; 

  }
  
  /* Cart icon styles */
  .cart-icon {
    margin-right: 2px; 
  }
  
  /* Cart item count styles */
  .cart-count {
    font-size: 10px;
    font-weight: bold; 
    color: #d87c04; 
    padding: 3px 6px;
    background-color: black;
    border-radius: 50%;
  }
  