.auth-container {
    display: flex;
    padding: 50px;
    min-height: 700px;
    background: rgb(225,175,209);
  background: linear-gradient(0deg, rgb(237, 164, 213) 0%, rgba(147,207,205,1) 53%, rgba(225,175,209,1) 100%);
    
  }
  
  .auth-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    color: white;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .auth-right {
    padding: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
   
  }
  
  .auth-form {
    width: 80%;
    max-width: 400px;
    min-width: 300px;
    text-align: center;
  }
  
  .auth-form h2 {
    margin-bottom: 1rem;
  }
  
  .auth-form p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1.5rem;
  }
  
  .auth-form a,
  .auth-link {
    color: #6c63ff;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .form-group label {
    display: inline-block;
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
    color: #333;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  .form-group input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  .form-group.terms {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
  }
  
  .form-group.terms input {
    margin-right: 0.5rem;
  }
  
  .form-group.remember-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .auth-button {
    width: 100%;
    padding: 0.8rem;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .auth-button:hover {
    background-color: #5a54e6;
  }
  
  .forgot-password {
    font-size: 0.85rem;
    color: #6c63ff;
    text-decoration: none;
  }
  