/* Product Card */
.product-card {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  padding-bottom: 100px; /* Add padding to make space for the fixed button */
  display: inline-block;
  text-decoration: none;
 
}
.tag {
  position: absolute;
  top: 10px; /* Position the "New" tag above the image */
  left: 10px;
  background-color: #FF5733; /* Red color for "New" tag */
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}



.discount-tag {
  position: absolute;
  top: 40px; /* Position the "50% Discounted" tag below the image */
  left: 10px;
  background-color: #28a745; /* Green color for "50% Discounted" tag */
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card h3 {
  margin: 10px 0 5px;
}

.product-card p {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
}

.Whishlist {
  position: absolute;
  bottom: 55px; /* Position above the Add to Cart button */
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 40px;
  color: #7469B6;
  border: 1px solid #7469B6;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 40px;
  background-color: #7469B6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Ensure the button is always displayed */
  z-index: 1; /* Make sure the button appears above other elements */
}
.add-to-cart:hover {
  background-color: #AD88C6;
}