/* Product Card */
.product-card {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  padding-bottom: 50px; /* Add padding to make space for the fixed button */
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card h3 {
  margin: 10px 0 5px;
}

.product-card p {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
}

.add-to-cart {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  
  width: 200px;
  height: 40px;
  background-color: #7469B6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-top: 5px;
}
.Whishlist{
  position: relative;
  bottom: 1px;
  left: 50%;
 
  transform: translateX(-50%);
 
  width: 200px;
  height: 40px;
  color: #7469B6;
  border-color: #7469B6;
  border-radius: 7px;
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
 



}
.add-to-cart:hover {
  background-color: #AD88C6;
}