.cart-progress {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .step {
    width: 30%;
    padding: 10px;
    text-align: center;
    border-bottom: 5px solid #ccc;
  }
  
  .step.active {
    background-color: #6c63ff;
    color: white;
  }