/* General Page Styling */
.product-page {
  margin: 0 150px;
  padding: 20px 0;
  text-align: center;
  background-color: #f9f9f9;
}

/* Banner Styling */
.banner {
  position: relative;
  width: 100%;
  
}

.banner-image {
  width: 100%;
  height: auto;
  
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 8px;
}

.banner-content h1 {
  font-size: 2.5rem;
  margin: 0;
}

.banner-content p {
  font-size: 1.2rem;
}

/* Filters */
.filters {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.filters select {
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

/* Product Grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* Product Card */
.product-card {
  border: 1px solid #ddd;
  /* padding: 10px; */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  /* border-bottom: 1px solid #f0f0f0; */
}

.product-card h3 {
  margin: 10px 0 5px;
}
.product-card .add-to-cart {
  display: block; /* Ensure the button is always visible */
  position: absolute; /* Position the button within the card */
  bottom: 7px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 12px;
  background-color: #7469B6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.product-card p {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
}

/* Buttons Container */
.card-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
  flex-wrap: wrap;
}

/* Buttons Styling */
.buy-now
{
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}



.add-to-cart:hover {
  background-color: #AD88C6;
}
