.product-image-section {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .product-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .image-navigation {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    width: 100%;
    pointer-events: none; /* Disable pointer events for the container */
  }
  
  .nav-button {
    background: rgba(255, 254, 254, 0.726); /* Semi-transparent background */
    color: #fff;
    border: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: all; /* Enable pointer events for buttons */
    font-size: 1.2rem;
  }
  